.combo-box-base{
     -fx-background-color: linear-gradient(white,grey);
}
.button {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(white,grey);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   
}
.button:hover {
    -fx-background-color: linear-gradient(grey,white);
}
.datepicker {
    -fx-text-fill: black;
}
.root{
    -fx-font-fill:black;
   
    -fx-font-size: 10pt;
    -fx-background-color: linear-gradient(steelblue,lightsteelblue);
}

#title{
    -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: darkslategrey;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.label {
   -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: darkslategrey;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-field{
   -fx-background-color: white;
    
}


